

/*
@font-face {
    font-family: 'Lora';
    src: url('../../fonts/lora/Lora-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Lora';
    src: url('../../fonts/lora/Lora-Italic-VariableFont_wght.ttf');
    font-style: italic;
}
*/


$sans:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$sans_regular: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$serif: "Lora", serif;
$letter_spacing: 0.05em;
