#footer{
    background: $yellow;
    color: $black;
    text-align: center;
    padding: 5em 0;
    padding-bottom: 3em;

    img{
        display: block;
        padding-bottom: 2.5em;
        margin: 0 auto;

        @media screen and (min-width: $md){
            margin: 0;
        }
    }

    h3{
        font-weight: 600;
        font-size: 3.125em;
    }

    p{
        font-size: 1.55em;
    }

    a{
        color: $black;
        text-decoration: none;
    }

    p.contact-links{
        font-size: 1.25em;
    }

    ul{
        display: block;
        margin: 2.75em 0;
        padding: 0;
        list-style-type: none;
        //display: none;

        li{
            display: block;
            margin: 0;
            padding: 0;

            a{
                text-decoration: underline;
                font-weight: 300;
                padding: 0.85em 0;
                display: block;
            }
        }
    }

    em{
        display: block;
        font-size: 1.25em;
        font-style: normal;
        font-weight: 300;
        margin-bottom: 0.75em;
    }

    .copyright{
        font-size: 0.8em;
    }

    .left{
        text-align: left;
    }

    .right{
        display: none;
    }

    @media screen and (min-width: $lg){
        padding-top: 8em;
        padding-bottom: 6em;

        .container{
            display: flex;
            justify-content: space-between;
            justify-content: flex-start;
        }

        .left{

            h3{
                margin-bottom: 0.7em;
            }

            img{
                display: none;
            }

            p{
                font-size: 1.875em;
                max-width: 12em;
                margin-bottom: 1em;
                line-height: 1;         
            }

            p.contact-links{
                font-size: 1.25em;
                margin-bottom: 4em;
                line-height: 1.5;           
            }

            em,
            .copyright{
                opacity: 0.6;
            }

            ul{
                display: none;
            }
        }

        .right{
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: right;
            align-items: flex-end;
            justify-content: space-between;
            overflow: hidden;
            img{
                position: relative;
                //right: -1.5em;
                width: 12em;
                height: auto;
            }

            ul{
                columns: 2;
                column-gap: 1em;
                text-align: left;
                max-width: 18em;
                margin-right: -4em;
                margin-bottom: 0;

                li{
                    display: inline-block;
                    min-width: 12em;
                }
            }
        }
    }
}