#register{
    text-align: center;

    .logo{
        width: 12em;
        margin-bottom: 1.5em;

        @media screen and (min-width: $md){
            position: absolute;
            top: 2.5em;
            left: 2.5em;
        }
    }

    h2{
        font-size: 1.25em;
        display: block;
        margin-bottom: 0.25em;
        line-height: 1.5;
        text-transform: uppercase;
        font-weight: 500 !important;
        letter-spacing: 0.05em;
    }

    p.intro{
        font-family: $serif;
        font-size: 1.75em;
        max-width: 12em;
        line-height: 1.35;
        margin: 0 auto;
        margin-bottom: 0.5em;
    }
    
    .modal--content{
        background: $white;
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;

        
        @media screen and (min-width: $md){            
            display: flex;
            justify-content: center;
            align-items: center;            
        }
    }


    .form-content{
        max-width: 36em;

        h1{
            margin-top: 1.25em;
            font-weight: 800;
            margin-bottom: 0.25em;
            font-size: 2.5em;
        }
    }    

    .loading{
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        z-index: 99;
        background: radial-gradient(transparent,rgba(0,0,0,0.4));
        transition: opacity 0.3s ease-in-out;
    }

    #errors{
        color: maroon;

        ul,
        ol{
            margin: 0 auto;
            list-style-type: none;
            text-align: center;
        }
    }


    .thank-you{
        height: 80%;
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        font-family: $serif;

        &.visible{
            display: flex !important;
        }
    }
}

form.register{
    text-align: left;

    .form-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 52em;
        margin: 0 auto;

        .input-box{
            width: 100%;
    
            &.full{
                width: 100%;
            }


            @media screen and (min-width: $md){
                width: 50%;

                &#input_4{
                    //width: 30%;
                }
                &#input_5{
                    //width: 20%;
                }                
            }
        }    
    }

    .input-box{
        position: relative;
        padding: 1em 0.5em;

        input[type="text"],
        textarea,
        .selectric .label{
            border: 1px solid $grey;
            padding: 0.5em 0.65em;
            font-size: 1em;
            width: 100%;
            background: transparent;
        }

        .selectric{
            padding: 0;

            .label{
                //padding: 1em;
                min-height: 2.55em;
            }
        }        

        input + label,
        .selectric-wrapper + label,
        textarea + label{
            position: absolute;
            top: 1.55em;
            left: 1.2em;
            color: $black;
            transition: all 0.2s ease-in-out;
            pointer-events: none;
        }

        .selectric-wrapper + label{
            top: 1.7em;
        }


        input:focus,
        textarea:focus{
            outline: none;
            box-shadow: none;
        }

        
        &.label-top label{
            top: -0.125em;
            left: 0.5rem;
            font-size: 0.85em;
        }

        &.error input,
        &.error textarea{
            border-left-color: #C94036;
            border-left-width: 3px;
        }

        textarea{
            min-height: 10em;
        }

        .error-message{
            font-size: 0.75em;
            color: #C94036;
            position: absolute;
            bottom: 0em;
            right: 0.75em;
        }

        &.check{
            max-width: 44em;
            margin: 0 auto;
            
            label{
                position: relative;
                //font-size: 0.85em;
                line-height: 1.35;
                margin: 1.5em 0;
                margin-left: 2em;
                display: block;
                cursor: pointer;

                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    height: 1.25em;
                    width: 1.25em;
                    //background: red;
                    border: 1px solid #999;
                    top: 0.125em;
                    left: -2em;
                    cursor: pointer;
                }
                
                &:hover::after,
                &:focus::after{
                    border-color: $blue;
                    background: $grey;
                }

                &.checked::after{
                    background: url('../../dist/img/close.svg') center center no-repeat;
                    background-size: contain;
                }
            }
        }

        &.center{
            text-align: center;
        }


    }

    
}
