html.locked,
html.locked body {
    overflow: hidden;
}

.modal,
.modal--bg{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal{
    left: 100%;
    transition: left 0s ease 1s;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal--bg{
      position: absolute;
      background: transparentize($yellow, 0.05);
      opacity: 0;
      transition: opacity 0.4s ease-in-out;        
      z-index: 999;
      height: 101%;
      width: 101%;
      top: -1px;
      left: -1px;
    }

    .modal--close{
        position: absolute;
        z-index: 9999999;
        top: 1em;
        right: 1em;
        font-size: 1em;
        height: 2.5em;
        width: 2.5em;
        font-weight: 100;
        line-height: 0.45em;
        padding: 0.125em;
        opacity: 0;
        transition: all 0.45s ease-in-out;
        background: none;
        border: none;
        background: url('../img/close.svg') center center no-repeat;
        background-size: contain;
        cursor: pointer;

        &:hover,
        &:focus{
            outline: none;
            border: none;
        }

        @media screen and (min-width: $md){
            top: 2em;
            right: 2em;
        }
    }

    .modal--content{
      display: block;
      position: relative;
      padding: 1.5em;
      //text-align: center;
      top: -100%;
      transition: top 0.45s ease-in-out;
      max-height: 85%;
      overflow-y: scroll;
      z-index: 99999;
      background: $white;
      color: $black;
      font-size: 1.125em;
      max-width: 95%;
      
      @media screen and (min-width: $md){
            max-width: 56em;
            padding: 2.5em;
      }
    }

    &.open{
        left: 0;
        transition: left 0s ease 0s;

        .modal--content{
            top: 0;
        }

        .modal--close{
            opacity: 1;
        }

        .modal--bg{
          opacity: 1;
      }          
    }
}