html {
    box-sizing: border-box;
    font-family: $sans;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body{
    //width: 100%;
}

button,
input,
optgroup,
select,
textarea {
    font-family: $sans;
    color: $black;
    font-size: 1em;
    font-weight: 400;
    box-shadow: none;
    border-radius: 0px;
    -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    line-height: 1.35;
    margin-bottom: 1em;

    @media screen and (min-width: $lg){
        line-height: 1;
    }

}

p{
    line-height: 1.35;
    margin-bottom: 1.5em;
    font-size: 1.125em;
}

ul,
ol{
    margin: 1.5em 0;
    padding: 0;
    padding-left: 1.125em;

    li{
        margin: 0.125em 0;
    }
}

a{
    color: $blue;
}
